body{
    background-color: paleturquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}
.productos{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
.derecha{
    display: flex;
    flex-direction: column;
}

.izquierda{
    display: flex;
    flex-direction: column;  
    
}
.iconos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    box-sizing: content-box;
    font-size: 18px;
    
    

}

.modo-pago{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    box-sizing: content-box;

}