.cuerpoLogin{
    background-image: url(/images/imagenFondoLogin-01.jpg);
    background-size: contain;
    width: 1900px;
    padding-bottom: 185px;
    

    
   
}
.paginaLogin {
    display: flex;
    flex-direction: row;
    justify-content: center
       
}

.etiquetasDeLogin {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.botonesDeLogin {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;


}


.cuentaYContraseña {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.linkOlvidasteContraseña {
    margin-right: 30px;
    font-size: 30px;
}

.linkCrearCuenta {
    font-size: 30px;
}

.boton1 {
    width: 540px;
    height: 40px;
    border-radius: 5%;
    color: black;
    background-color: #e6d8cc;
    font-family: 'Times New Roman', Times, serif;
}

.boton1:hover {
    background-color: #cde4e7;
    transition-property: background-color;
    transition:
        background-color, 0.3s;
}

.usuario {
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
}

.password {
    font-size: 25px;
    margin-top: 20px;
    position: relative;
    left: 89px;
    font-weight: bold;

}

.barraDeUsuario {
    width: 300px;
    height: 25px;
}

.barraPassword {
    width: 300px;
    height: 25px;
    margin-top: 20px;
    margin-right: 10px;
}

.iniciarSesion {
    font-size: 25px;
}

.linkOlvidasteContraseña {
    text-decoration: none;
    color: rgb(105, 99, 99);
    font-weight: bold;


}
.linkCrearCuenta{
    text-decoration: none;
    color: rgb(105, 99, 99);
    font-weight: bold;

}