<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="css/detalleDeProducto.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
</head>
<body>
    
    <header class="header">
        <div class="cointainer, logo-nav-container">
            <div class="barra">
                <input type="text" id="searchterm" placeholder="¿Que estas buscando?" class="barra1">
            </div>
            <nav class="Faustine">
                <h3> Faustine </h3>
            </nav>
            <nav class="imgs">
            
            <button><img width="50" height="50" src="design/cuadrado.jpg"></button>
            <button><img width="50" height="50" src="design/bag.jpg"></button>
                
            </nav>

        </div>
    </header>

    <section class="elbody">
        <section class="uno">
            <nav class="unoa">
                <img height="150" width="150" src="design/cartera 1.jpg">
            </nav>
            <nav class="unobe">
                <img height="60" width="60" src="design/cartera 2.jpg">
                <img height="60" width="60" src="design/cartera 3.jpg">
                <img height="60" width="60" src="design/cartera 4.jpg">
            </nav>

        </section>

        <section class="dos">
            <nav class="dosa">

            <div clas="dosa1">
                <h1>CARTERA PRUNE</h1>
                <h4> 25000$ </h4>
            </div>
            <div class="dosa2">
                <p>Agregar al Carrito</p>

            </div>
            <div class="dosa3">
                <p>Cantidad</p>
                <p>Color</p>
                </div>

            </nav>
            <nav class="dosbe">
            <div class=dosbe1>

                <div class="medios">
                    <h3>Medios de Pago</h3>
                </div>
                <div class="mediosimg">
                    <ul>
                        <li><img width="30" height="30" src="design/visa.jpg"></li>
                        <li><img width="30" height="30" src="design/master.jpg"></li>
                        <li><img width="30" height="30" src="design/amex.jpg"></li>
                        <li><img width="30" height="30" src="design/mp.jpg"></li>
                    </ul>
                </div>
             </div>
             <div class ="dosbe2">
                 <h2>ENVIOS</h2>
             </div>

            </nav>
            <nav class="dosce">
                <p>
                    La colección P&P rinde tributo al lanzamiento del nuevo isologo de la marca. Esta cartera de mano en cuero graneado y con el isologo en el frente en alto relieve es una de las piezas mas destacadas de la colección. Se lleva cruzada por su manija de cinta estampada y desmontable con actitud chic.
                </p>

            </nav>

        </section>
    </section>
    <footer>
        <div class="footerfaustine">
            <img width="170" height="150" class="logoff" src="design/logo.jpg">
            <nav class="lista1">
                <ul>
                    <li class="listasMargenes"><a href="·">Preguntas</a></li>
                    <li class="listasMargenes"><a href="·">Ayuda</a></li>
                    <li class="listasMargenes"><a href="·">La Marca</a></li>
                    <li class="listasMargenes"><a href="·">Cambios y devoluciones</a></li>
                </ul>
            </nav>
            <nav class="lista2">
                <ul>
                    <li class="listasMargenes"><a href="·">Whatsapp</a></li>
                    <li class="listasMargenes"><a href="·">Instagram</a></li>
                    <li class="listasMargenes"><a href="·">Numero</a></li>
                    <li class="listasMargenes"><a href="·">Mail</a></li>
                </ul>
            </nav>



        </div>
    </footer>
</body>
</html>