<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/formularioRegistro.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <title>Formulario Registro</title>
</head>
<body>
    <header class="header">
        <div class="cointainer, logo-nav-container">
            <div class="barra">
                <input type="text" id="searchterm" placeholder="¿Que estas buscando?" class="barra1">
            </div>
            <nav class="Faustine">
                <h3> Faustine </h3>
            </nav>
            <nav class="imgs">
            
            <button><img width="50" height="50" src="design/cuadrado.jpg"></button>
            <button><img width="50" height="50" src="design/bag.jpg"></button>
                
            </nav>

        </div>
    </header>


    <section class="formularioParaRegistro">
        <form action="/formularioRegistro" method="POST">
            <div class="contenedorTodosLosTitulos">
                <p class="todosLosTitulos">
                    <span class="titulosBoton">Usuario</span>
                </p>
                <p class="todosLosTitulos">
                    <span class="titulosBoton">Nombre</span>
                </p>
                <p class="todosLosTitulos">
                    <span class="titulosBoton">Apellido</span>
                </p>
                <p class="todosLosTitulos">
                    <span class="titulosBoton">Contraseña</span>
                </p>
                <p class="todosLosTitulos">
                    <span class="titulosBoton">Confirmacion de contraseña</span>
                </p>
                <p class="todosLosTitulos">
                    <span class="titulosBoton">Correo electronico</span>
                </p>
                <p class="todosLosTitulos">
                    <span class="titulosBoton">Confirmacion de correo electronico</span>
                </p>
            </div>
            <div class="contenedorTodosLosBotones">
                <p>
                    <input type="text" name="usuario" id="usuario" class="botonDirecto">
                </p>
                <p>
                    <input type="text" name="nombre" id="nombre" class="botonDirecto">
                </p>
                <p>
                    <input type="text" name="apellido" id="apellido" class="botonDirecto">
                </p>
                <p>
                    <input type="password" name="password" id="password" class="botonDirecto">
                </p>
                <p>
                    <input type="password" name="confirPassword" id="confirPassword" class="botonDirecto">
                </p>
                <p>
                    <input type="email" name="correo" id="correo" class="botonDirecto">
                </p>
                <p>
                    <input type="email" name="confirCorreo" id="confirCorreo" class="botonDirecto">
                </p>
                <p class="terYC">
                    <span>
                        <label for="terminos"></label>
                        <input type="checkbox" name="terminos">
                    </span>
                    <span>He leido y acepto los</span><span><a href="https://www.google.com"> terminos y condiciones</a></span>
                </p>
            </div>
            <div class="crearCuenta">
                <p>
                    <button type="submit" class="crearCuentaBoton">CREAR CUENTA</button>
                </p>
            </div>
            <span class="usuarioDisponibleONo">
                <span class="usuarioVerde">El usuario esta disponible</span><span>/</span><span class="usuarioRojo">El usuario no esta disponible</span>
            </span>
            <span class="passwordCoincideONo">
                <span class="passwordVerde">Las contraseñas coinciden</span><span>/</span><span class="passwordRojo">Las contraseñas no coinciden</span>
            </span>
            <span class="emailCoincideONo">
        </form>

    </section>
    <span class="emailCoindiceONo">
        <span class="emailVerde">Los correos electronicos coinciden</span><span>/</span><span class="emailRojo">Los correos electronicos no coinciden</span>
    </span>

    <footer>
        <div class="footerfaustine">
            <img width="170" height="150" class="logoff" src="design/logo.jpg">
            <nav class="lista1">
                <ul>
                    <li><a href="·">Preguntas</a></li>
                    <li><a href="·">Ayuda</a></li>
                    <li><a href="·">La Marca</a></li>
                    <li><a href="·">Cambios y devoluciones</a></li>
                </ul>
            </nav>
            <nav class="lista2">
                <ul>
                    <li><a href="·">Whatsapp</a></li>
                    <li><a href="·">Instagram</a></li>
                    <li><a href="·">Numero</a></li>
                    <li><a href="·">Mail</a></li>
                </ul>
            </nav>



        </div>
    </footer>
    
</body>
</html>