<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Faustine</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/home.css">
        <script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <header>
            <section class="productos">
                <div class="derecha">
                    <div class="riñoneras">
                        <a href="http://www.google.com"><img src= "design/riñoneras.jpg"alt= "carteras cuero"></a>
                      
                    </div>
                    <div class="carteras">
                        <a href="http://www.google.com"><img src="design/cartera.jpg" alt= "carteras cuero"></a>
                        
                    </div>
                </div>
                <div class="izquierda">
                    <div class="bandoleras">
                        <a href="http://www.google.com"><img src="design/bandoleras.jpg" alt= "bandoleras"></a>
                       
                    </div>
                    <div class="mochilas">
                        <a href="http://www.google.com"><img src="design/mochilas.jpg" alt= "mochilas"></a>
                                         
                    </div>
                    <div class="bolsos">
                        <a href="http://www.google.com"><img src="design/bolsos.jpg" alt= "bolsos"></a>
                       
                    </div>   
                </div>                          
            </section>
            <section>
                <div class="iconos">

                    <i class="fas fa-truck-moving" size></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-money-bill-wave"></i>

                </div>
                <div class="modo-pago">
                    <p>Envios a todo el país</p>
                    <p>Pago en cuotas</p>
                    <p>Pago por transferencia</p>
                </div>                   
                       
                
            </section>                        
        </header>
        <footer>
                       
        </footer>
        
    </body>
</html>