<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/global.css">
    <title>Faustine</title>
</head>

<body>
    <header class="header">
        <div class="cointainer, logo-nav-container">
            <div class="barra">
                <input type="text" id="searchterm" placeholder="¿Que estas buscando?" class="barra1">
            </div>
            <nav class="Faustine">
                <h3> Faustine </h3>
            </nav>
            <nav class="imgs">
            
            <button><img width="50" height="50" src="design/cuadrado.jpg"></button>
            <button><img width="50" height="50" src="design/bag.jpg"></button>
                
            </nav>

        </div>
    </header>
    <div class="paginaLogin">
        <div class="etiquetasDeLogin">
            <span class="usuario">Nombre de usuari@</span>
            <span class="password">Contraseña</span>
        </div>
        <div class="botonesDeLogin">
            <input type="text" name="usuario" id="usuario" minlength="5" data-error="Dato no valido" data-success="Correcto" class="barraDeUsuario">
            <input type="password" name="password" id="password" class="barraPassword">
        </div>
    </div>
    <div class="button">
        <button type="submit" class="boton1">
            <span class="iniciarSesion">Iniciar Sesion</span>
        </button>
    </div>
     
    <div class="cuentaYContraseña">
        <p>
            <a href= "http://www.google.com" class="linkOlvidasteContraseña">¿Olvidaste tu contraseña?</a>
        </p>
        <p>
            <a href= "http://www.google.com" class="linkCrearCuenta">Crear cuenta</a>
        </p>
    </div>

    <footer>
        <div class="footerfaustine">
            <img width="170" height="150" class="logoff" src="design/logo.jpg">
            <nav class="lista1">
                <ul>
                    <li class="listasMargenes"><a href="·">Preguntas</a></li>
                    <li class="listasMargenes"><a href="·">Ayuda</a></li>
                    <li class="listasMargenes"><a href="·">La Marca</a></li>
                    <li class="listasMargenes"><a href="·">Cambios y devoluciones</a></li>
                </ul>
            </nav>
            <nav class="lista2">
                <ul>
                    <li class="listasMargenes"><a href="·">Whatsapp</a></li>
                    <li class="listasMargenes"><a href="·">Instagram</a></li>
                    <li class="listasMargenes"><a href="·">Numero</a></li>
                    <li class="listasMargenes"><a href="·">Mail</a></li>
                </ul>
            </nav>



        </div>
    </footer>
</body>

</html>