<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="css/detalleDeProducto.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
</head>
<body>
    
    <header class="header">
        <div class="cointainer, logo-nav-container">
            <div class="barra">
                <input type="text" id="searchterm" placeholder="¿Qué estas buscando?" class="barra1" >
                
            </div>
            <nav class="Faustine">
                <h3> Faustine </h3>
            </nav>
            <div class="logoF">
                <img width="80" height="80" src="images/LogoFaustine-header.jpg">
            </div>
            <nav class="imgs">
            <button><a href= "/view/login.html"> <img width="50" height="50" src="images/usuario.jpg"></a></button>
            <button><a href= "#"> <img width="50" height="50" src="images/logoCompras.jpg"></button></a>
                
            </nav>

        </div>
    </header>

    <section class="elbody">
        <section class="uno">
            <nav class="unoa">
                <img height="150" width="150" src="images/cartera 1.jpg">
            </nav>
            <nav class="unobe">
                <img height="60" width="60" src="images/cartera 2.jpg">
                <img height="60" width="60" src="images/cartera 3.jpg">
                <img height="60" width="60" src="images/cartera 4.jpg">
            </nav>

        </section>

        <section class="dos">
            <nav class="dosa">

            <div clas="dosa1">
                <h1>CARTERA PRUNE</h1>
                <h4> 25000$ </h4>
            </div>
            <div class="dosa2">
                <p>Agregar al Carrito</p>

            </div>
            <div class="dosa3">
                <p>Cantidad</p>
                <p>Color</p>
                </div>

            </nav>
            <nav class="dosbe">
            <div class=dosbe1>

                <div class="medios">
                    <h3>Medios de Pago</h3>
                </div>
                <div class="mediosimg">
                    <ul>
                        <li><img width="50" height="50" src="images/visa.jpg"></li>
                        <li><img width="50" height="50" src="images/master.jpg"></li>
                        <li><img width="50" height="50" src="images/amex.jpg"></li>
                        <li><img width="50" height="50" src="images/mp.jpg"></li>
                    </ul>
                </div>
             </div>
             <div class ="dosbe2">
                 <h2>ENVIOS</h2>
             </div>

            </nav>
            <nav class="dosce">
                <p>
                    La colección P&P rinde tributo al lanzamiento del nuevo isologo de la marca. Esta cartera de mano en cuero graneado y con el isologo en el frente en alto relieve es una de las piezas mas destacadas de la colección. Se lleva cruzada por su manija de cinta estampada y desmontable con actitud chic.
                </p>

            </nav>

        </section>
    </section>
    <footer>
        <div class="footerfaustine">
            <div class="footerfaustine">
                <img width="250" height="200" class="logoff" src="images/logo.jpg">
                <div class="redes">
                    <img width="50" height="50" class="logoIgNegro" src="images/logoIgNegro.jpg">
                    <img width="50" height="50" class="logoFaceNegro" src="images/logoFaceNegro.jpg">
                    <img width="50" height="50" class="logoWappNegro" src="images/logoWappNegro.jpg">

                </div>
                <nav class="lista1">
                    <ul>
                        <li class="listasMargenes"><a href="#">Preguntas</a></li>
                        <li class="listasMargenes"><a href="#">Ayuda</a></li>
                        <li class="listasMargenes"><a href="#">La Marca</a></li>
                        <li class="listasMargenes"><a href="#">Cambios y devoluciones</a></li>
                        <li class="listasMargenes"><a href="#">Whatsapp</a></li>
                        <li class="listasMargenes"><a href="#">Instagram</a></li>
                        <li class="listasMargenes"><a href="#">Numero</a></li>
                        <li class="listasMargenes"><a href="#">Mail</a></li>
                    </ul>
                </nav>    
            </div>
    </footer>
</body>
</html>