<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/global.css">
        <script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>
        <title>Faustine</title>
        
    </head>

    <body>

        <header class="header">
            <div class="cointainer, logo-nav-container">
                <div class="barra">
                    <input type="text" id="searchterm" placeholder="¿Qué estas buscando?" class="barra1" >
                    
                </div>
                <nav class="Faustine">
                    <h3> Faustine </h3>
                </nav>
                <div class="logoF">
                    <img width="80" height="80" src="images/LogoFaustine-header.jpg">
                </div>
                <nav class="imgs">
                <button><a href= "/view/login.html"> <img width="50" height="50" src="images/usuario.jpg"></a></button>
                <button><a href= "#"> <img width="50" height="50" src="images/logoCompras.jpg"></button></a>
                    
                </nav>
    
            </div>
        </header>
    <body class="body1">

        <header>
            <section class="productos">
                <div class="derecha">
                    
                    <div class="bolsos">
                            <a href="#"><img src="images/bolsoFaustine.jpg" alt= "bolsos" class="bolsos1"></a>
                            <p>Bolsos</p>
                      
                    </div>
                    <div class="carteras">
                        <a href="#"><img src="images/bandoleraBeige.jpg" alt= "carteras cuero" class="carteras1"></a>
                        <p>Carteras</p>
                        
                    </div>
                </div>
                <div class="izquierda">
                    <div class="bandoleras">
                        <a href="#"><img src="images/bandoleraVerde.jpg" alt= "bandoleras" class="bandoleras1"></a>
                        <p>Bandoleras</p>
                       
                    </div>
                    <div class="mochilas">
                        <a href="#"><img src="images/mochilaFaustine.jpg" alt= "mochilas" class="mochilas1"></a>
                        <p>Mochilas</p>
                                         
                    
                </div>                          
            </section>
            <section>
                <div class="iconos">

                    <i class="fas fa-truck-moving" size></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-money-bill-wave"></i>

                </div>
                <div class="modo-pago">
                    <p>Envios a todo el país</p>          
                    <p>Pago en cuotas</p>
                    <p>Pago por transferencia</p>
                </div>                   
                       
                
            </section>                        
        </header>
        <footer>
            <div class="footerfaustine">
                <img width="250" height="200" class="logoff" src="images/logo.jpg">
                <div class="redes">
                    <img width="50" height="50" class="logoIgNegro" src="images/logoIgNegro.jpg">
                    <img width="50" height="50" class="logoFaceNegro" src="images/logoFaceNegro.jpg">
                    <img width="50" height="50" class="logoWappNegro" src="images/logoWappNegro.jpg">

                </div>
                <nav class="lista1">
                    <ul>
                        <li class="listasMargenes"><a href="#">Preguntas</a></li>
                        <li class="listasMargenes"><a href="#">Ayuda</a></li>
                        <li class="listasMargenes"><a href="#">La Marca</a></li>
                        <li class="listasMargenes"><a href="#">Cambios y devoluciones</a></li>
                        <li class="listasMargenes"><a href="#">Whatsapp</a></li>
                        <li class="listasMargenes"><a href="#">Instagram</a></li>
                        <li class="listasMargenes"><a href="#">Numero</a></li>
                        <li class="listasMargenes"><a href="#">Mail</a></li>
                    </ul>
                </nav>
    
    
    
            </div>
        </footer>

    </body>
    </body>
</html>