<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/global.css">
    <title>Login</title>
</head>

<body>
    <header class="header">
        <div class="cointainer, logo-nav-container">
            <div class="barra">
                <input type="text" id="searchterm" placeholder="¿Qué estas buscando?" class="barra1" >

            </div>
            <nav class="Faustine">
                <h3> Faustine </h3>
            </nav>
                <div class="logoF">
                <img width="80" height="80" src="images/LogoFaustine-header.jpg">
            </div>
            <nav class="imgs">
            <button><a href= "#"> <img width="50" height="50" src="images/usuario.jpg"></a></button>
            <button><a href= "#"> <img width="50" height="50" src="images/logoCompras.jpg"></button></a>
            </nav>
        </div>
    </header>
    <div class="cuerpoLogin">
        <div class="paginaLogin">
            <div class="etiquetasDeLogin">
                <span class="usuario">Nombre de usuari@</span>
                <span class="password">Contraseña</span>
            </div>
            <div class="botonesDeLogin">
                <input type="text" name="usuario" id="usuario" minlength="5" data-error="Dato no valido" data-success="Correcto" class="barraDeUsuario">
                <input type="password" name="password" id="password" class="barraPassword">
            </div>
        </div>
        <div class="button">
            <button type="submit" class="boton1">
                <span class="iniciarSesion">Iniciar Sesion</span>
            </button>
        </div>
        <div class="cuentaYContraseña">
            <p>
                <a href= "#" class="linkOlvidasteContraseña">¿Olvidaste tu contraseña?</a>
            </p>
            <p>
                <a href= "#" class="linkCrearCuenta">Crea tu cuenta</a>
            </p>
        </div>
    </div>   
    <footer>
        <div class="footerfaustine">
            <img width="250" height="200" class="logoff" src="images/logo.jpg">
            <nav class="lista1">
                <ul>
                    <li class="listasMargenes"><a href="#">Preguntas</a></li>
                    <li class="listasMargenes"><a href="#">Ayuda</a></li>
                    <li class="listasMargenes"><a href="#">La Marca</a></li>
                    <li class="listasMargenes"><a href="#">Cambios y devoluciones</a></li>
                    <li class="listasMargenes"><a href="#">Whatsapp</a></li>
                    <li class="listasMargenes"><a href="#">Instagram</a></li>
                    <li class="listasMargenes"><a href="#">Numero</a></li>
                    <li class="listasMargenes"><a href="#">Mail</a></li>
                </ul>
            </nav>



        </div>
    </footer>
</body>

</html>